* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-ro-it.it-ro.t1x -text
/apertium-ro-it.it-ro.t2x -text
/apertium-ro-it.it-ro.t3x -text
/apertium-ro-it.it.acx -text
/apertium-ro-it.it.dix -text
/apertium-ro-it.it.tsx -text
/apertium-ro-it.post-it.dix -text
/apertium-ro-it.post-ro.dix -text
/apertium-ro-it.ro-it.dix -text
/apertium-ro-it.ro-it.t1x -text
/apertium-ro-it.ro-it.t2x -text
/apertium-ro-it.ro-it.t3x -text
/apertium-ro-it.ro.acx -text
/apertium-ro-it.ro.dix -text
/apertium-ro-it.ro.tsx -text
/autogen.sh -text
/configure.ac -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_conjunctions.txt -text
dev/bidix/pending_determiners.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_prepositions.txt -text
dev/bidix/pending_pronouns.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/bilingual-summary.txt -text
dev/generation-test.sh -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/missing-bidix-freq.sh -text
dev/testvoc-summary.txt -text
dev/testvoc.sh -text
dix/apertium-es-it.es-crossed.dix -text
dix/apertium-es-it.es-it-crossed.dix -text
dix/apertium-es-it.it-crossed.dix -text
dix/apertium-ro-it.it-crossed.dix -text
dix/apertium-ro-it.ro-crossed.dix -text
dix/apertium-ro-it.ro-it-crossed.dix -text
dix/consistent-bilAB.dix -text
dix/consistent-bilBC.dix -text
dix/consistent-monA.dix -text
dix/consistent-monC.dix -text
dix/not-common-apertium-es-it.es-it.dix -text
dix/not-common-apertium-es-it.it.dix -text
dix/not-common-apertium-es-ro.es-ro.dix -text
dix/not-common-apertium-es-ro.ro.dix -text
dix/not-common-es-ro.es-ro.dixapertium-ro-es.ro-es.dix -text
dix/patterns-not-detected.xml -text
/it-ro.prob -text svneol=unset#unset
/modes.xml -text
/mycross-model.xml -text
/ro-it.prob -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
